<div class="container">
    <div class="confetti" [@confetti]="state"></div>
    <div class="fireworks" [@fireworks]="state"></div>
    <div class="content" [@taskState]="state" (@taskState.done)="onAnimationEnd()">
        <div *ngIf="state === 'start' || state === 'start-next'">
            <iframe src="../assets/cat.mp3" allow="autoplay" hidden></iframe>
            <h1>С днем рождения, Кисык!</h1>
            <h1>🎉🎉🎉</h1>
            <p class="cont">Вы готовы начать свой праздничный квесцик?</p>
            <button type="button" (click)="startQuest()">Погнали!</button>
        </div>

        <div *ngIf="state === 'current' || state === 'next'">
            <h3>{{i + 1}}/{{maxQ}}</h3>
            <img [src]="task.pic" />
            <h2>{{task.task}}</h2>
            <form autocomplete="off" (submit)="checkAnswer()">
                <p class="error-text">{{isError ? 'Ниц. Подумойте ещё :<' : ''}}</p>
                <input type="text" placeholder="Ваш ответ" name="answer" [(ngModel)]="answer" required 
                    [@input]="isError ? 'error' : ''" (focus)="clearError()"/>
                <button type="submit">Проверить</button>
            </form>
        </div>

        <div *ngIf="state === 'end'">
            <iframe src="../assets/cat.mp3" allow="autoplay" hidden></iframe>
            <h1>Поздравляем!</h1>
            <p>Вы самый гениальный кисик на свете!</p>
            <img src="assets/cel_cat.jpg" />
        </div>
        <div *ngIf="state === 'reward'">
            <h1>Бегице гюшац!</h1>
            <p>Ещё раз с днем рождения! 🍰🍰🍰</p>
            <img src="assets/cake.jpg" />
        </div>
    </div>
</div>