<div class="container">
    <audio src="assets/cat.mp3" preload></audio>
    <div class="confetti" [@confetti]="state"></div>
    <div class="fireworks" [@fireworks]="state"></div>
    <div class="content" [ngClass]="getClass()" [@taskState]="state" (@taskState.done)="onAnimationEnd()">
        <div *ngIf="state === 'preload'">
            <button (click)="launch()">{{ str.start }}</button>
        </div>

        <div *ngIf="state === 'start' || state === 'start-next'">
            <h1>{{ str.happyBirthday }}</h1>
            <h1>🎉🎉🎉</h1>
            <p class="cont">{{str.readyToBegin}}</p>
            <button type="button" (click)="startQuest()">{{ str.letsGo }}</button>
        </div>

        <div *ngIf="state === 'current' || state === 'next'">
            <h3>{{i + 1}}/{{maxQ}}</h3>
            <img [src]="task.pic" />
            <h2>{{task.task}}</h2>
            <form autocomplete="off" (submit)="checkAnswer()">
                <p class="error-text">{{isError ? str.nope : ''}}</p>
                <input type="text" [placeholder]="str.yourAnswer" name="answer" [(ngModel)]="answer" required 
                    [@input]="isError ? 'error' : ''" (focus)="clearError()" (input)="clearError()"/>
                <button type="submit">{{ str.submit }}</button>
            </form>
        </div>

        <div *ngIf="state === 'end'">
            <h1>{{str.congratulations}}</h1>
            <p>{{ str.youSoSmart }}</p>
            <img src="assets/cel_cat.jpg" />
        </div>
        <div *ngIf="state === 'reward'">
            <h1>{{str.enjoyYourCake}}</h1>
            <p>{{ str.happyBirthdayAgain }} 🍰🍰🍰</p>
            <img src="assets/cake.jpg" />
        </div>
    </div>
</div>